#main {
  background-color: #000;
  display: grid;
  flex: 1;
  position: relative;

  &.home {
    align-items: center;
    background-position: 100% 0;
    background-size: auto 100%;
  }

  .bgWrapper {
    background-image: var(--bg, none);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: var(--opacity, 1);
  }
}

.content {
  color: var(--white);
  height: 100%;
  width: 100%;
  padding-block: 134px;
  container-type: inline-size;

  &Narrow {
    max-width: 460px;
  }

  h1,
  h2 {
    margin-bottom: 0.67em;
  }

  p,
  a,
  li {
    font-size: var(--fs-small);
    line-height: 1.5;
  }

  p {
    margin-bottom: 1.5em;
  }

  .hero {
    font-size: var(--fs-large);
    line-height: 1.25;
  }

  a {
    color: var(--white);
    text-decoration: underline;
    text-underline-offset: 0.33em;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--accent);
    text-transform: uppercase;
    transition: 0.1s;

    &:hover {
      text-decoration-color: var(--grey);
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  #main {
    &.home {
      background-position: right -150px bottom 0;
    }
  }
}
