.footer {
  // --padding: 12px;

  background-color: var(--grey);

  font-family: var(--sans);
  font-size: var(--fs-medium);
  font-weight: light;

  padding-block: 64px;
}

.footerGrid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);

  h5 {
    padding-bottom: 0.5em;
    margin: 0 0 1em;
    border-bottom: 1px solid #13bbff;
    font-size: 0.75rem;
  }

  p {
    font-size: var(--fs-xsmall);

    i {
      background: url("https://www.ilanbluestone.com/themes/ilan/img/new/anjunabeats.png")
        no-repeat;
      display: block;
      width: 26px;
      height: 13px;
      background-size: 26px;
      margin-right: 8px;
    }
  }

  a {
    text-decoration: underline;
    display: flex;
    height: 36px;
    align-items: center;
    color: var(--white);

    &:hover {
      text-decoration: none;
    }

    &:not(.footerIconsLink) {
      background-size: 26px;
      padding-left: 32px;
      background-position: left;
      background-repeat: no-repeat;
    }

    &.anjunabeats {
      background-image: url("https://www.ilanbluestone.com/themes/ilan/img/new/anjunabeats.png");
    }

    &.cyberduck {
      background-image: url("https://www.ilanbluestone.com/themes/ilan/img/new/cyber-duck.png");
    }
  }
}

.footerIconsList {
  display: flex;
  list-style: none;
  gap: 16px;
}

.footerIconsItem {
  padding-inline: 8px;
}

.footerIconsLink {
  width: 36px;
  height: 36px;
  text-indent: 100px;
  line-height: 100px;
  overflow: hidden;
  display: block;
  background: url("/ib-sprite.png") no-repeat;
  background-size: 300px 300px;
  background-position: var(--xPosition) var(--yPosition, -181px);

  &:hover {
    background-position-y: var(--yPosition, -221px);
  }

  &Soundcloud {
    --xPosition: -77px;
    --yPosition: -93px;

    &:hover {
      --yPosition: -133px;
    }
  }

  &Twitter {
    --xPosition: -86px;
  }

  &Facebook {
    --xPosition: 10px;
  }

  &Instagram {
    --xPosition: -36px;
  }

  &Beatport {
    --xPosition: 3px;
    --yPosition: -93px;

    &:hover {
      --yPosition: -133px;
    }
  }

  &YouTube {
    --xPosition: -136px;
  }
}

@media screen and (min-width: 1024px) {
  .footerGrid {
    grid-template-columns: 170px max-content 170px;
    margin-inline: auto;
    justify-content: center;
  }
}

@media screen and (min-width: 680px) and (max-width: 1023px) {
  .footer {
    padding-block: 40px;
  }
  .footerIconsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footerIconsLink {
    margin-inline: auto;
  }
}

@media screen and (min-width: 680px) {
  .footerGridSocials {
    flex: 1;
  }
}

@media screen and (max-width: 679px) {
  .footer {
    padding-block: 24px;
  }
  .footerGrid {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .footerIconsList {
    column-gap: 0;
    flex-wrap: wrap;
  }
}
