.gallery {
  --space: 12px;
  --columns: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  // grid-template-columns: repeat(var(--columns), 1fr);
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  gap: var(--space);
  margin-bottom: var(--space);
  // container-type: inline-size;

  & > * {
    // flex: 1;
    // width: 100%;
    // min-width: 100px;
    // max-width: 200px;
    aspect-ratio: 1;
    position: relative;
    // flex: 1 1 100px;
    // width: 100%;
    // max-width: 200px;
  }

  img {
    object-fit: cover;
    cursor: pointer;
  }
}

@container (min-width: 640px) {
  .gallery {
    grid-template-columns: repeat(
      auto-fit,
      minmax(100px, calc((100% - (4 * var(--space))) / 5))
    );
  }
}

// @media screen and (min-width: 700px) {
//   .gallery {
//     --space: 24px;
//     grid-template-columns: repeat(auto-fit, minmax(100px, 20vw));
//     // grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
//   }
// }
